@require '../css/variable.styl';

.sm-sub-header
    width: 100%
    box-sizing: border-box
    height: 48px
    line-height: 48px
    font-size: 14px
    color: $md-colors.grey500
    padding-left: 16px
