$disable-color=#ccc

.sm-pagination
    font-size: 16px
    line-height: 32px
    color: rgba(0, 0, 0, .87)
    user-select: none

    &-page-selector
        display: inline-block
        span
            cursor: pointer
            min-width: 32px
            text-align: center
            display: inline-block
            border-radius: 2px
            margin: 0 4px
            box-sizing: border-box
            padding: 0 8px
            transition: all ease .45s
            &.next-page
                margin-right: 0
            &.pre-page
                margin-left: 0
            label
                cursor: pointer
                margin: 0 4px
            &:hover
                background: rgba(0, 0, 0, .1)
            &.current
                background: #03a9f4
                color: #fff
            .arrow-icon
                display: inline-block
                width: 6px
                height: 6px
                border: solid 0 rgba(0, 0, 0, .87)
                border-left-width: 2px
                border-bottom-width: 2px
                position: relative
                top: -2px
            .pre-page-icon
                transform: rotate(45deg)
                left: 2px
            .next-page-icon
                transform: rotate(-135deg)
                left: -2px
            &.disable
                background: transparent
                cursor: not-allowed
                color: $disable-color
                label
                    border-color: $disable-color
                    cursor: not-allowed

    &-page-size-selector
        display: inline-block
        position: relative
        cursor: pointer
        border-bottom: solid 1px #ccc
        font-size: 14px
        width: 80px
        background: #fff
        text-indent: 10px
        text-align: left
        .selector-popup
            display: none
            position: absolute
            top: 100%
            left: 0
            background: #fff
            width: 100%
            padding: 8px 0
            z-index: 999
            box-shadow: 0 2px 10px #bbb, 0 2px 6px #bbb
        &.open
            .selector-popup
                display: block
        .dropdown-selector
            position: relative
            .triangle
                width: 0
                height: 0
                border-left: 5px solid transparent
                border-right: 5px solid transparent
                border-top: 6px solid rgba(0, 0, 0, .12)
                position: absolute
                right: 4px
                top: 50%
                margin-top: -3px
            &:hover
                .triangle
                    border-top-color: rgba(0, 0, 0, .3)
        &.open
            .dropdown-selector
                .triangle
                    border-top: none
                    border-bottom: 6px solid rgba(0, 0, 0, .3)
        .page-size-item
            &:hover
                background: #e8e8e8
            &.active
                color: #ff4081
