@require '../node_modules/normalize.css/normalize.css'
@require '../src/common/css/font.styl'

body
    font-family: Roboto, Lato, sans-serif
    line-height: 1.5
    font-size: 14px
    font-weight: 400
    margin: 0
    width: 100%

