/**
 * @file CenterRipple 样式
 * @author leon <ludafa@outlook.com>
 */

.sm-center-ripple
    position: absolute;
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden

@require './Ripple.styl';
