/**
 * @file Ripple 样式
 * @author leon <ludafa@outlook.com>
 */

@require '../css/variable.styl'

.sm-ripple
    position: absolute;
    background-color: $md-colors.darkBlack
    transform-origin: center center
    border-radius: 100em
