{
    "presets": ["es2015", "stage-1"],
    "plugins": [
        ["transform-replace-object-assign", "simple-assign"]
    ],
    "env": {
        "test": {
            "plugins": [
                ["istanbul", {
                    "exclude": [
                        "**/*.spec.js"
                    ]
                }]
            ]
        },
        "production": {
            "presets": [
                ["es2015", {"modules": "umd"}],
                "stage-1"
            ],
            "plugins": [
                "external-helpers",
                "external-helpers-insert-require"
            ]
        }
    },
    "comments": false
}
