
@import '../css/variable'

.sm-slider
    position: relative
    width: 100%
    height: 30px
.sm-slider-bg
.sm-slider-fill
.sm-slider-thumb
    position: absolute
    left: 0
    top: 50%
    width: 100%
    height: 2px
    background-color: base-color
.sm-slider-bg
    background-color: bg-color
.sm-slider-thumb
    width: 12px
    height: 12px
    margin-top: -6px
    border-radius: 6px
    cursor: pointer
.sm-slider-disable
    .sm-slider-fill
    .sm-slider-thumb
        background-color: bg-color