
@import '../css/variable'

.san-slider
    position: relative
    width: 100%
    height: 30px
.san-slider-bg
.san-slider-fill
.san-slider-thumb
    position: absolute
    left: 0
    top: 50%
    width: 100%
    height: 2px
    background-color: base-color
.san-slider-bg
    background-color: bg-color
.san-slider-thumb
    width: 12px
    height: 12px
    margin-top: -6px
    border-radius: 6px
    cursor: pointer
.san-slider-disable
    .san-slider-fill
    .san-slider-thumb
        background-color: bg-color