/**
 * @file DatePicker
 * @author leon <ludafa@outlook.com>
 */

@require '../Icon/Icon.styl'

.sm-date-picker
    content: ''

.sm-dialog.variant-date-picker

    .sm-dialog-title
        padding: 0

    .sm-dialog-body
        position: relative
        padding: 0 0 24px


@require './Month.styl'
@require './Date.styl'
@require './Header.styl'
@require './MonthCarousel.styl'
@require './Year.styl'
@require './Week.styl'
