/**
 * @file DatePickerHeader
 * @author leon <ludafa@outlook.com>
 */

@require '../css/variable.styl'

.sm-date-picker-header
    background-color: $md-colors.teal500
    height: 104px
    box-sizing: border-box
    padding: 20px
    color: #fff
    flex: 1 1 auto

    &-year
        font-size: 16px
        line-height: 1
        margin-bottom: 15px
        cursor: pointer;

    &-label
        font-size: 32px
        font-weight: 500
        line-height: 1
