/**
 * @file Week Style
 * @author leon <ludafa@outlook.com>
 */


.sm-date-picker-week
    display: flex;
    height: 20px
    padding: 0 8px
    opacity: .5

    >i
        display: block
        width: 42px
        flex: 1 1 0
        text-align center
        font-style: normal
        font-weight: 500
        color rgba(#000, .87)
        font-size: 12px
