/**
 * @file Dialog 样式
 * @author zhouqinghuai@baidu.com
 * @author leon <ludafa@outlook.com>
 */

@require '../css/variable.styl';
@require '../css/func.styl';
@require '../Mask/Mask.styl';

.sm-lockoverflow
    overflow: hidden

.sm-dialog
    position: fixed
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $san-z-index.dialog

    &-content
        width: 75%
        max-width: 768px
        box-shadow: san-shadow('2')
        background-color: #fff

    &-title
        display: flex
        align-items: center
        justify-content: space-between
        margin: 0
        padding: 24px 24px 20px
        font-size: 22px
        font-weight: 400
        line-height: 22px
        color: rgba(0, 0, 0, .87)

    &-body
        overflow: hidden
        max-height: none
        padding: 20px 24px 24px

    &-actions
        min-height: 36px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    &-title ~ &-body
        padding-top: 0
