/**
 * @file Toast 样式
 * @author zhangsiyuan(zhangsiyuan@baidu.com)
 */

@require '../css/variable.styl'

.upload
    background: #cccccc;
    display: inline-block;
    height: 100px;
    width: 100px;
