$arrow-width=11
$border-color=#ccc

.sm-popover
    border: solid 1px $border-color
    box-shadow: 0 5px 10px 1px #bbb
    opacity: 0
    border-radius: 5px
    padding: 8px
    position: absolute
    display: inline-block
    z-index: 999
    background-color: #fff
    &.hide-popover
        left: -999999999px !important
    &.show
        opacity: 1
        left: 0
    &.animation
        transition: ease .5s opacity
    .arrow
        width: 0
        height: 0
        border: solid ($arrow-width)px transparent
        position: absolute
        &:after
            position: absolute
            content: ''
            width: 0
            height: 0
            border: solid ($arrow-width - 1)px transparent
        &-bottom,
        &-top
            border-top-width: 0
            border-bottom-color: $border-color
            top: -($arrow-width)px
            left: 50%
            margin-left: -($arrow-width)px
            &:after
                border-top-width: 0
                border-bottom-color: #fff
                left: -($arrow-width - 1)px
                bottom: -($arrow-width)px
        &-left,
        &-right
            border-right-width: 0
            border-left-color: $border-color
            top: 50%
            right: -($arrow-width)px
            margin-top: -($arrow-width)px
            &:after
                border-right-width: 0
                border-left-color: #fff
                left: -($arrow-width)px
                bottom: -($arrow-width - 1)px


    &.top
        margin-top: -($arrow-width)px
        .arrow
            transform: rotate(180deg)
            top: initial
            bottom: -($arrow-width)px
    &.right
        margin-left: ($arrow-width)px
        .arrow
            transform: rotate(180deg)
            right: initial
            left: -($arrow-width)px
    &.bottom
        margin-top: ($arrow-width)px
    &.left
        margin-left: -($arrow-width)px
    &.no-arrow
        margin: 0
