@require '../Popover/Popover.styl'
@require '../css/colors.styl';

.sm-tooltip
    display: inline-block

.sm-popover.variant-tooltip .sm-popover-content
    box-sizing: border-box;
    display: flex;
    border-radius: 2px
    padding: 0 .5rem
    height: 1.375rem;
    opacity: .9
    font-size: .625rem
    color: #fff
    background-color: $md-colors.grey700
    align-items: center
    justify-content: center
