$black = rgba(0, 0, 0, 0.87)
$active-pink = #ff4081
$grey = rgba(0,0,0,.38)
$light-grey = #e0e0e0

$label-fontSize = 16px
$font-size = 14px

$w-x = 56px
$padding-ver = 8px
$padding-hor = 16px
$margin-with-icon = 48px
$line-height = 48px

$pc-w-x = 64px
$pc-padding-ver = 16px
$pc-padding-hor = 24px
$pc-padding-with-icon = 64px
$pc-line-height = 32px

p
    -webkit-margin-before: 0
    -webkit-margin-after: 0

.list-hidden
    display: none

.depth-1
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, .12)

.depth-2
    box-shadow: 0 3px 3px rgba(0, 0, 0, .16)
    
.depth-3
    box-shadow: 0 10px 10px rgba(0, 0, 0, .19)

.sm-menu-list
    position: absolute
    top: 0
    padding: $padding-ver 0
    margin: 0
    background-color: #fff
    overflow-y: scroll
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
    transform: scale(1, 0)
    transform-origin: left top
    min-width: 2 * $w-x
    z-index: 1