@require './common'

.sm-dropdown-menu-selected
    line-height: $line-height
    display: inline-block
    position: relative

    i
        float: right
        position: relative
        top: 12px

.sm-dropdown-menu-selected-label
    display: inline-block
    font-size: $label-fontSize

.sm-dropdown-menu-underline
    width: 100%
    border-top: 1px solid $grey
    absolute: _ 0 1px 0
    margin: -1px 0

.sm-dropdown-menu
    position: relative
    color: $black
    font-family: Roboto,Lato,sans-serif
    font-size: $font-size

    &.disabled
        cursor: not-allowed

        .sm-dropdown-menu-selected
            color: $grey