@require '../Ripple/TouchRipple.styl'
@require './MenuItem.styl'
@require '../Popover';
@require '../TextField/index.styl';

.sm-dropdown-menu
    position: relative;
    cursor: pointer;
    display: inline-block;

    &-icon
        position: absolute;
        top: .5rem;
        bottom: .75rem;
        right: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;


    &.state-disabled
        cursor: not-allowed;
