@require './common'

.sm-iconmenu
    position: relative

.sm-iconmenu-icon
    display: inline-block
    cursor: pointer

    i
        display: block

.sm-layer-for-click
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0