@require './common'
@require '../css/variable.styl'
@require './MenuItem.styl'

.sm-icon-menu
    position: relative
    line-height: 0
    cursor: pointer

.sm-iconmenu-icon-wrapper
    display: inline-block
    font-size: 0
    position: relative
    padding: 12px

.sm-iconmenu-tooltip
    font-size: 10px
    line-height: 22px
    padding: 0 8px
    color: #fff
    text-align: center
    width: 22px
    border-radius: 2px
    position: absolute
    top: 36px
    left: 7px
    display: none
    background: $md-colors.grey700

    &.show
        display: block
