@require './common'
@require '../Ripple/TouchRipple.styl'

.sm-menuitem
    padding: 0 $padding-hor
    line-height: $line-height
    position: relative
    font-size: 16px
    cursor: pointer
    overflow: hidden

    &:hover
        background-color: $light-grey

    &.selected
        color: $active-pink

    p
        float: left
    &.has-left p
        margin-left: $margin-with-icon

    .sm-menuitem-left-icon
        position: absolute
        top: 0
        left: $padding-hor
        padding: 12px 0

        i
            display: block

    .sm-menuitem-right-icon-group
        margin-left: 20px
        margin-right: -8px
        // margin-right: -1 * $padding-hor
        overflow: hidden
        float: right

        i
            display: block
            float: right
            position: relative
            padding-top: 12px
            margin-right: -5px