/**
 * @file Menu 样式
 * @author leon <ludafa@outlook.com>
 */

.sm-menu
    display: inline-block;
    position: relative;
    background-color: #fff

@require './MenuItem.styl';
@require './IconMenu.styl'
