@import '../css/variable.styl'
@require '../css/func.styl'

.sm-card-header
    position: relative
    padding: 16px
    font-weight: 500

    .sm-avatar
        display: inline-block
        margin-right: 16px
        vertical-align: middle

.sm-card-header-title-wrap
    display: inline-block
    padding-right: 90px
    vertical-align: middle

    .sm-card-header-title
        font-size: 15px
        color: $san-text-color

    .sm-card-header-sub-title
        font-size: 14px
        color: $san-secondary-text-color
