@import '../css/variable'

.san-card
    font-family: Roboto,Lato,sans-serif
    font-size: 14px
    line-height: 1.5
    color: color3
    .san-card-title
        font-size: 24px
    .san-card-subtitle 
        color: color9
    .san-card-header
    .san-card-media
    .san-card-title-wrap
    .san-card-text
    .san-card-actions
        padding: rem(16px)
    .san-card-header
        .san-card-title
            font-size: 15px