@import '../css/variable.styl'
@require '../css/func.styl'

.sm-card-title-wrap
    padding: 16px
    .sm-card-title
        font-size: 24px
        color: $san-text-color
        line-height: 36px

    .sm-card-sub-title
        display: block
        font-size: 14px
        color: $san-secondary-text-color
