@import '../css/variable'

.sm-card
    font-family: Roboto,Lato,sans-serif
    font-size: 14px
    line-height: 1.5
    color: color3
    .sm-card-title
        font-size: 24px
    .sm-card-subtitle 
        color: color9
    .sm-card-header
    .sm-card-media
    .sm-card-title-wrap
    .sm-card-text
    .sm-card-actions
        padding: rem(16px)
    .sm-card-header
        .sm-card-title
            font-size: 15px