@import '../css/variable'

.sm-table
    background: $md-colors.white
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    table-layout: fixed

    thead
        background: $md-colors.grey100
        border-bottom: 1px solid $md-colors.faintBlack

    th
        text-align: left
        font-weight: normal
        font-size: 12px
        height: 56px
        line-height: 56px
        color: $md-colors.lightBlack

    tr
        border-bottom: 1px solid $md-colors.faintBlack

    td
        padding: 0 24px
        height: 48px
        text-align: left
        font-size: 12px
        white-space: nowrap
        color: $md-colors.darkBlack

