@import '../css/variable'

.sm-appbar
    display: flex
    height: rem(64px)
    line-height: rem(64px)
    padding: 0 8px
    // background-color: $md-colors.lightGreenA700
    color: #fff
    .material-icons
        line-height: rem(64px)

.sm-appbar-left,
.sm-appbar-right
    height: 100%
    display: flex
    justify-content: flex-start
    align-items: center


.sm-appbar-title
    flex: 2
    padding-left: 8px
    padding-right: 8px
