
.san-appbar
    display: flex
    height: rem(64px)
    line-height: rem(64px)
    padding: 0 8px
    background-color: #03a9f4
    color: #fff
.san-appbar-left
    width: rem(40px)
.san-appbar-right
    flex: 1
    text-align: right
.san-appbar-title
    flex: 2