@import '../css/variable'

.sm-appbar
    display: flex
    height: rem(64px)
    line-height: rem(64px)
    padding: 0 8px
    background-color: base-color
    color: colorf
    .material-icons
        line-height: rem(64px)
.sm-appbar-left
    width: rem(40px)
.sm-appbar-right
    flex: 1
    text-align: right
.sm-appbar-title
    flex: 2