.sm-text-field-hint
    position: absolute
    opacity: 0
    transition: opacity .45s cubic-bezier(0.23, 1, 0.32, 1)
    color: rgba(0, 0, 0, .38)
    line-height: 34px
    user-select: none
    cursor: text
    &.show
        opacity: 1

    .sm-text-field.multi-line &
        line-height: 1.5
