.sm-text-field-textarea
    resize: vertical
    line-height: 1.5
    position: relative
    height: 100%

.sm-text-field-multiline
    width: 100%
    position: relative

.sm-text-field-textarea-hide
    width: 100%
    height: initial
    resize: none
    position: absolute
    padding: 0
    overflow: auto
    visibility: hidden
