.sm-text-field-line
    margin: 0
    height: 1px
    border: none
    background-color: rgba(0, 0, 0, .12)
    left: 0
    right: 0
    position: absolute
    .sm-text-field.has-icon &
        left: 56px

    &.disabled
        height: auto
        background-color: transparent
        border-bottom: 2px dotted rgba(0, 0, 0, .38)



.sm-text-field-focus-line
    margin: 0
    height: 2px
    border: none
    background-color: #03a9f4
    position: absolute
    left: 0
    right: 0
    margin-top: -1px
    transform: scaleX(0)
    transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1)
    .sm-text-field.has-icon &
        left: 56px

    &.focus
        transform: scaleX(1)

    &.error
        transform: scaleX(1)
        background-color: #f44336
