/**
 * @file Time Picker
 * @author leon <ludafa@outlook.com>
 */

.sm-time-picker
    content: ' '

@require '../Dialog/Dialog.styl'
@require './Clock.styl'
@require './Header.styl'

.variant-time-picker .sm-dialog-body
    padding: 24px
    display: flex
    align-items: center;
    justify-content: center;
