/**
 * @file 颜色变量
 * @author leon <ludafa@outlook.com>
 */

@require './colors.styl'

$san-class-prefix = sm;

$san-z-index = {
    menu: 1,
    menuLayer: 10,
    mask: 10,
    dialog: 20,
    popover: 30
};

$san-text-color := $md-colors.darkBlack
$san-secondary-text-color := $md-colors.lightBlack
$san-primary-color := $md-colors.blue500
$san-lighter-primary-color := $md-colors.grey400

$san-animation-ease-out := cubic-bezier(0.23, 1, 0.32, 1)
$san-animation-ease-in-out := cubic-bezier(0.445, 0.05, 0.55, 0.95)
