/**
 * @file Mask
 * @author leon <ludafa@outlook.com>
 */

@require '../css/variable.styl'

.sm-mask
    position: fixed;
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, .54)
    z-index: $san-z-index.mask
    transition: opacity .3s
