
@require '../css/variable.styl';

.sm-avatar
    background-size: cover
    text-align: center
    border-radius:100%
    font-size: 20px
    color: #fff
    background-color: $md-colors.grey400
    width: 40px
    height: 40px
    line-height: 40px

    .sm-icon
        line-height: inherit
