.custom
    .sm-tree-view-item
        > .sm-touch-ripple
            &.selected
                background-color: rgba(33, 150, 243, 0.75) !important;
            &:hover
                background-color: rgba(33, 150, 243, 0.25) !important;
                ~ .sm-tree-view-item-content
                    &
                    > *:not(.sm-tree-view-item-secondary-text)
                    ../ ~ .sm-tree-view-item-expand
                        color: black !important;
        &.selected
            &:hover
            ../
                > .sm-tree-view-item-content
                    > .sm-tree-view-item-secondary-text
                        position: absolute;
                        right: 10px;
                        top: -5px;
                        padding: 3px 4px;
                        border-radius: 6px;
                        color: white;
                        background-color: rgba(33, 150, 243, 0.5);
                        max-width: 100px;
            > .sm-tree-view-item-content
                &.selected
                    &
                    > *
                    ../../ > .sm-tree-view-item-expand
                        color: white;
                > .sm-tree-view-item-secondary-text
                    background-color: white;
                    color: rgba(33, 150, 243, 0.5);
