.sm-tree-view
    padding: 8px 0
    background: #fff

    &.compact
        padding: 0
        line-height: normal

    .sm-tree-view-filter-bar
        padding: 0 10px

        .sm-text-field
            margin: 0
            min-height: 40px

        &.compact
            padding: 5px

            .sm-text-field
                zoom: 0.75
                min-height: auto
                margin: 0

                .sm-text-field-content
                    padding: 0

    .sm-text-field-hint
        width: 100%
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

