/**
 * @file badge 样式
 * @author malingyang(malingyang@baidu.com)
 */

@require '../css/variable.styl'
@require '../css/func.styl'
@require '../Icon/Icon.styl';
@require '../Button/Button.styl';

.{$san-class-prefix}-badge
    position: relative
    display: inline-block
    width: auto
    text-align: center

    &-inform
        top: -8px
        right: -8px
        z-index: 1
        position: absolute
        i
            font-size: 18px!important

    &-inform-default
        position: absolute
        z-index: 2
        white-space: nowrap
        bottom: 100%
        left: 100%
        margin-left: -13px
        margin-bottom: -11px
        height: 18px
        width: auto
        padding: 1px 5px
        background-color: #ff4949 
        color: white
        font-size: 12px
        font-style: normal
        line-height: 18px
        text-align: center 
        border-radius: 11px  
        border: 1px solid white

    &-text-wrapper
        i
            padding: 6px
